@font-face {
    font-family: cafe;
    src: url(../font/louis_george_caf/Louis\ George\ Cafe.ttf);
}
*{
    font-family: cafe;
}
body{
    background-color: lightcyan;
    margin: 5px 10px 5px 10px;
}
h1{
    margin: 15px 100px;
}
#result{
    margin: 15px 100px;
}
form{
    margin: 15px 100px;
}
#nome{
    width: 200px;
}
#comentario{
    width: 1000px;
    height: 80px;
}
hr{
    width: 100%;
}

#result{
    margin: 5px 100px 5px 125px;
}